{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{ member.username }}의 프로필 페이지</h1>

    <div>
        {% if member.image %}
		    <img src="{{ member.image.url }}">
        {% else %}
            <img src="{% static 'accounts/user.png' %}">
        {% endif %}	
        {% if request.user == member %}
            <form action="{% url 'accounts:update_image' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="image"><br>
                <button type="submit">사진 수정</button>
            </form>
            (파일을 선택한 후 사진 수정 버튼을 누르면 사진이 수정됩니다.)
            <form action="{% url 'accounts:delete_image' %}" method="POST">
                {% csrf_token %}
                <button type="submit">사진 삭제</button>
            </form>
        {% endif %}
        <h2>username : {{ member.username }}</h2>
        {% if request.user == member %}
            <a href="{% url 'accounts:update' %}">회원정보수정</a>
        {% endif %}
        <h3>가입일: {{ member.created_at }}</h3>
        <p>
            팔로워 : {{ member.followers.count }}명
            팔로잉 : {{ member.following.count }}명
        </p>
    </div>

    <div>
        {% if request.user != member %}
        <form action="{% url 'accounts:follow' member.pk %}" method="POST">
            {% csrf_token %}
            {% if user in member.followers.all %}
                <button type="submit">언팔로우</button>
            {% else %}
                <button type="submit">팔로우</button>
            {% endif %}
        </form>
        {% endif %}
    </div>

    <div>
        <h2>{{ member.username }}님이 작성한 판매글</h2>
        <ul>
            {% for post in member.products.all %}
                <li><div style="display: inline;"><a href="{% url 'products:product_detail' post.pk %}">{{ post.title }}</a></div></li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>{{ member.username }}님이 찜한 물건</h2>
        <ul>
            {% for liked_post in member.like_products.all %}
                <li><div style="display: inline;"><a href="{% url 'products:product_detail' liked_post.pk %}">{{ liked_post.title }} - {{ liked_post.author.username }}</a></div></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}